<form novalidate name="formularioResponsavelLegal" ng-submit="vm.salvarResponsavelLegal(formularioResponsavelLegal)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

    <div class="modal-header">
        <h5 class="modal-title" ng-if="vm.modalResponsavelLegal.isEditar">EDITAR RESPONSÁVEL LEGAL</h5>
        <h5 class="modal-title" ng-if="!vm.modalResponsavelLegal.isEditar">CADASTRAR RESPONSÁVEL LEGAL</h5>
        <button type="button" class="close" ng-click="vm.fecharModalResponsavelLegal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="nome" class="obrigatorio">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control" ng-model="vm.modalResponsavelLegal.model.nome" 
                        ng-class="{'is-invalid': (formularioResponsavelLegal.nome.$dirty && formularioResponsavelLegal.nome.$invalid)}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" class="form-control" ng-model="vm.modalResponsavelLegal.model.email" 
                        ng-class="{'is-invalid': (formularioResponsavelLegal.email.$dirty && formularioResponsavelLegal.email.$invalid)}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="cargo">Cargo</label>
                    <input type="text" id="cargo" name="cargo" class="form-control" ng-model="vm.modalResponsavelLegal.model.cargo" 
                        ng-class="{'is-invalid': (formularioResponsavelLegal.cargo.$dirty && formularioResponsavelLegal.cargo.$invalid)}" required>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="formularioResponsavelLegal.$invalid">Salvar</button>
    </div>

</form>