<div class="card" id="to-export">
	<div class="card-body">

		<h4 class="card-title">
			ACOMPANHAMENTO DE RELATÓRIO GERENCIAL
			<button type="button" class="btn btn-primary-custom d-print-none" onclick="window.print();">
				<i class="icon-printer"></i>Imprimir
			</button>
		</h4>
		
		<hr>

		<div class="row">
			<div class="col-12">
				<div class="alert alert-fill-info" ng-if="vm.dados.flagAprovadoFiscal">
					Relatório consolidado pelo fiscal <strong>{{vm.dados.nomeUsuarioAprovacaoFiscal}}</strong> em <strong>{{vm.dados.dataHoraAprovacaoFiscal | date:'dd/MM/yyyy HH:mm:ss'}}</strong>.
				</div>

				<div class="alert alert-fill-danger" ng-if="!vm.dados.flagAprovadoFiscal && !vm.dados.flagPodeFiscalizar">
					Este relatório ainda não foi consolidado.
				</div>

				<div class="alert alert-fill-danger" ng-if="!vm.dados.flagAprovadoFiscal && vm.dados.flagPodeFiscalizar">
					Este relatório ainda não foi consolidado. Deseja consolidar? 
					<a href="#" class="text-bold" ng-click="vm.consolidar()">Clique aqui!</a>
				</div>

			</div>
		</div>

		<div class="row" ng-if="vm.dados.flagAprovadoFiscal">
			<div class="col-12">
				<div class="alert alert-fill-success" ng-if="vm.dados.flagAprovadoDre">
					Relatório aprovado pelo usuário <strong>{{vm.dados.nomeUsuarioAprovacaoDre}}</strong> em <strong>{{vm.dados.dataHoraAprovacaoDre | date:'dd/MM/yyyy HH:mm:ss'}}</strong>.
				</div>

				<div class="alert alert-fill-danger" ng-if="!vm.dados.flagAprovadoDre && !vm.dados.flagPodeAprovar">
					Este relatório ainda não foi aprovado.
				</div>

				<div class="alert alert-fill-danger" ng-if="!vm.dados.flagAprovadoDre && vm.dados.flagPodeAprovar">
					Este relatório ainda não foi aprovado. Deseja aprovar? 
					<a href="#" class="text-bold" ng-click="vm.aprovar()">Clique aqui!</a>
				</div>

			</div>
		</div>

		<div class="row print-card-header">
			<div class="col mb-3">
				<div class="card">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<p class="mb-1">
								<span class="h4 mb-0 mr-2">
									{{vm.dados.mes}}/{{vm.dados.ano}}
								</span>
							</p>
							<p class="mb-0 text-muted font-weight-light">Referência</p>
						</div>
						<div>
							<span class="badge badge-warning mt-3" ng-if="!vm.dados.flagAprovadoFiscal">Aguardando Fiscal</span>
							<span class="badge badge-info mt-3" ng-if="vm.dados.flagAprovadoFiscal && !vm.dados.flagAprovadoDre">Aguardando DRE</span>
							<span class="badge badge-success mt-3" ng-if="vm.dados.flagAprovadoDre">Aprovado</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col mb-3">
				<div class="card">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<p class="mb-1">
								<span class="h4 mb-0 mr-2" ng-bind="vm.dados.unidadeEscolar.descricao"></span>
							</p>
							<p class="mb-0 text-muted font-weight-light">Unidade Escolar</p>
						</div>
						<div>
							<span class="badge badge-success mt-3">
								Tipo: {{ vm.dados.unidadeEscolar.tipo }}
							</span><br>
						</div>
					</div>
				</div>
			</div>

			<div class="col mb-3">
				<div class="card">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<p class="mb-1"><span class="h4 mb-0 mr-2"
									ng-bind="vm.dados.prestadorServico.razaoSocial"></span></p>
							<p class="mb-0 text-muted font-weight-light">Prestador de Serviço</p>
						</div>
						<div class="d-inline-flex">
							<span class="badge badge-success mt-3 mr-2">CNPJ: {{vm.dados.prestadorServico.cnpj | brCnpj}}</span><br>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-1">
			<div class="col-12">
				<div class="card mb-3" ng-repeat="tipo in vm.dados.detalhe">
					<div class="card-body d-flex flex-column justify-content-between p-0">
						<p class="p-4 m-0 h4 uppercase text-bold text-white bg-primary"ng-bind="tipo.descricao"></p>
						<!-- <div class="tb-responsive"> -->
							<table class="table">
								<thead>
									<tr class="bg-light text-right">
										<th class="text-left" style="width: 40%">Item da avaliação</th>
										<th class="text-left">Situação</th>
										<th ng-style="{ 'width': vm.dados.flagAprovadoFiscal ? '15%' : '10%' }">Ocorrências</th>
										<th ng-style="{ 'width': vm.dados.flagAprovadoFiscal ? '15%' : '10%' }">Nota</th>
										<th ng-style="{ 'width': vm.dados.flagAprovadoFiscal ? '15%' : '10%' }">Pontuação</th>
										<th ng-if="!vm.dados.flagAprovadoFiscal && vm.dados.flagPodeFiscalizar">Ação</th>
									</tr>
								</thead>
								<tbody>
									<tr class="text-right" ng-repeat="variavel in tipo.variaveis">
										<td class="text-left" ng-bind="variavel.descricao"></td>
										<td class="text-left">
											<span ng-if="variavel.situacao" class="badge badge-{{variavel.situacao.classe}}">{{variavel.situacao.descricao}}</span>
											<span ng-if="!variavel.situacao" class="badge badge-info">Não avaliado</span>
										</td>
										<td>
											<div class="badge badge-pill badge-primary" ng-bind="variavel.ocorrencias.length" ng-class="{'pointer': variavel.ocorrencias.length > 0}" ng-click="vm.abrirModalOcorrencias(variavel.ocorrencias)"></div>
										</td>
										<td ng-bind="variavel.nota === null ? ' - ' : variavel.nota"></td>
										<td ng-bind="vm.formatarDecimal(variavel.pontuacao)"></td>
										<td ng-if="!vm.dados.flagAprovadoFiscal && vm.dados.flagPodeFiscalizar">
											<button type="button" class="btn btn-outline-primary btn-sm" ng-click="vm.abrirModalAvaliacao(tipo, variavel)">
												<i class="icon-star mr-1"></i>Avaliar
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						<!-- </div> -->
						<table class="table">
								<thead>
									<tr class="bg-light">
										<th class="text-center">Pontuação Parcial</th>
										<th class="text-center">Peso Global</th>
										<th class="text-center">Pontuação Final</th>
									</tr>
								</thead>
								<tbody>
									<tr class="text-right">
										<td class="text-center" ng-bind="vm.formatarDecimal(tipo.pontuacaoParcial)"></td>
										<td class="text-center" ng-bind="vm.formatarPercentual(tipo.peso)"></td>
										<td class="text-center" ng-bind="vm.formatarDecimal(tipo.pontuacaoFinal)"></td>
									</tr>
								</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row break-before">
			<div class="col-12">
				<div class="card mb-3">
					<div class="card-body d-flex flex-column justify-content-between p-0">
						<p class="p-4 m-0 h4 uppercase text-bold text-white bg-dark">RESUMO DAS ATIVIDADES REGULARES</p>
						<div class="tb-responsive">
							<table class="table">
								<thead>
									<tr class="bg-light text-center">
										<th class="text-left" style="width: 45%">Variável Gerencial</th>
										<th class="border-right">Pontuação</th>
										<th class="border-right">Pontuação Final</th>
										<th>Fator de Desconto</th>
									</tr>
								</thead>
								<tbody>
									<tr class="text-center" ng-repeat="tipo in vm.dados.detalhe">
										<td class="text-left" ng-bind="tipo.descricao"></td>
										<td class="border-right" ng-bind="vm.formatarDecimal(tipo.pontuacaoFinal)"></td>
										<td class="border-right" ng-if="$index == 0" rowspan="{{vm.dados.detalhe.length}}" ng-bind="vm.formatarDecimal(vm.dados.pontuacaoFinal)"></td>
										<td ng-if="$index == 0" rowspan="{{vm.dados.detalhe.length}}" ng-bind="vm.formatarPercentual(vm.dados.fatorDesconto)"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card mb-3">
					<div class="card-body d-flex flex-column justify-content-between p-0">
						<p class="p-4 m-0 h4 uppercase text-bold text-white bg-primary">ATIVIDADES REALIZADAS EM FINAIS DE SEMANA</p>
						<div class="tb-responsive">
							<table class="table">
								<thead>
									<tr class="bg-light text-center">
										<th style="width: 25%" class="border-right">Quantidade de Ambientes</th>
										<th style="width: 25%" class="border-right">Total de Metros Quadrados</th>
										<th style="width: 25%" class="border-right">Valor por Metro Quadrado</th>
										<th style="width: 25%">Valor Total</th>
									</tr>
								</thead>
								<tbody>
									<tr class="text-center">
										<td class="border-right" ng-bind="vm.dados.totalAmbientesFinalSemana"></td>
										<td class="border-right" ng-bind="vm.formatarDecimal(vm.dados.totalMetrosFinalSemana)"></td>
										<td class="border-right" ng-bind="vm.dados.valorMetroFinalSemana | finance:true:2"></td>
										<td class="border-right" ng-bind="vm.dados.valorTotalFinalSemana | finance:true:2"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid mt-5 w-100">
			<h4 class="text-right mb-4">Valor do Contrato: {{ vm.dados.valorBruto | finance:true:2 }}</h4>
			<h4 class="text-right mb-4">Desconto: {{ vm.dados.valorDesconto | finance:true:2 }} <small>({{vm.formatarPercentual(vm.dados.fatorDesconto) }})</small></h4>
			<h4 class="text-right mb-4">Valor Final de Semana: {{ vm.dados.valorTotalFinalSemana | finance:true:2 }}</h4>
			<h4 class="text-right mb-5">Multa: {{ vm.dados.valorMulta | finance:true:2 }} <small>({{vm.formatarPercentual(vm.dados.fatorDescontoMulta) }})</small></h4>
			<h3 class="text-right text-bold mb-4">Total: {{ vm.dados.valorLiquido | finance:true:2 }}</h3>
		</div>

	</div>

</div>