<form novalidate name="formulario" ng-submit="vm.salvar(formulario)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

    <div class="modal-header">
        <h5 class="modal-title" ng-if="vm.modal.isEditar">EDITAR USUÁRIO</h5>
        <h5 class="modal-title" ng-if="!vm.modal.isEditar">CADASTRAR USUÁRIO</h5>
        <button type="button" class="close" ng-click="vm.fecharModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dados gerais</h4>
                        <p class="text-muted font-weight-light">Informações de identificação e acesso do usuário.
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="nome" class="obrigatorio">Nome</label>
                                    <input type="text" id="nome" name="nome" class="form-control" ng-model="vm.modal.model.nome" 
                                        ng-class="{'is-invalid': (formulario.nome.$dirty && formulario.nome.$invalid)}" required>
                                </div>
							</div>
						</div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email" class="obrigatorio">E-mail</label>
                                    <input type="email" id="email" name="email" class="form-control" ng-model="vm.modal.model.email" 
                                        ng-class="{'is-invalid': (formulario.email.$dirty && formulario.email.$invalid)}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="senha" class="obrigatorio">Senha</label>
                                    <input type="password" id="senha" name="senha" class="form-control" ng-model="vm.modal.model.senha"
                                        ng-class="{'is-invalid': (formulario.senha.$dirty && formulario.senha.$invalid)}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <div class="form-group">
                                    <label for="status" class="obrigatorio">Situação</label>
                                    <select class="form-control" id="status" name="status" ng-model="vm.modal.model.idUsuarioStatus" 
                                        ng-options="status.id as status.descricao for status in vm.usuarioStatusList"
                                        ng-class="{'is-invalid': (formulario.status.$dirty && formulario.status.$invalid)}" required>
                                        <option value="" disabled>Selecione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Permissões</h4>
                        <p class="text-muted font-weight-light">Informações do perfil de acesso e origem do usuário.

                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="origem" class="obrigatorio">Origem</label>
                                    <select class="form-control" id="origem" name="origem" ng-model="vm.modal.model.idUsuarioOrigem"
                                        ng-change="vm.evtChangeUsuarioOrigem()"
                                        ng-options="origem.id as origem.descricao for origem in vm.usuarioOrigemList"
                                        ng-class="{'is-invalid': (formulario.origem.$dirty && formulario.origem.$invalid)}" required>
                                        <option value="" disabled>Selecione</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.modal.model.idUsuarioOrigem && vm.origemSelecionada.codigo == 'ue'">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="cargo" class="obrigatorio">Cargo</label>
                                    <select class="form-control" id="cargo" name="cargo" ng-model="vm.modal.model.idUsuarioCargo"
                                        ng-disabled="!vm.modal.model.idUsuarioOrigem"
                                        ng-options="cargo.id as cargo.descricao for cargo in vm.usuarioCargoList"
                                        ng-class="{'is-invalid': (formulario.cargo.$dirty && formulario.cargo.$invalid)}" required>
                                        <option value="" disabled>Selecione</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.modal.model.idUsuarioCargo == 3 || vm.modal.model.idUsuarioCargo == 7">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="urlNomeacao" class="obrigatorio">Link de Nomeação</label>
                                    <input type="url" id="urlNomeacao" name="urlNomeacao" class="form-control" ng-model="vm.modal.model.urlNomeacao" 
                                        ng-class="{'is-invalid': (formulario.urlNomeacao.$dirty && formulario.urlNomeacao.$invalid)}" required>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="vm.modal.model.idUsuarioOrigem && vm.origemSelecionada.codigo != 'sme'">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="origemDetalhe" class="obrigatorio" ng-bind="vm.origemSelecionada.descricao"></label>
                                    <select class="form-control" id="origemDetalhe" name="origemDetalhe" ng-model="vm.modal.model.idOrigemDetalhe" 
                                        ng-options="origemDetalhe.id as origemDetalhe.descricao for origemDetalhe in vm.origemDetalheList"
                                        ng-class="{'is-invalid': (formulario.origemDetalhe.$dirty && formulario.origemDetalhe.$invalid)}" required>
                                        <option value="" disabled>Selecione</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="formulario.$invalid">Salvar</button>
    </div>

</form>