<nav ng-controller="MenuTopoController as vm" ng-if="logado" class="navbar horizontal-layout col-lg-12 col-12 p-0">

	<div class="nav-top flex-grow-1">
		<div class="container d-flex flex-row h-100">
			<div class="text-center navbar-brand-wrapper d-flex align-items-top">
				<a class="navbar-brand brand-logo" href="/"><img src="src/layout/img/logo-sme/logo-branco-horizontal.png" alt="logo"></a>
				<a class="navbar-brand brand-logo-mini" href="/"><img src="src/layout/img/brasao.svg" alt="logo"></a>
			</div>
			<div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
				<ul class="navbar-nav navbar-nav-right mr-0">
					<li class="nav-item mr-2 ml-2" title="Alterar Senha" ng-click="vm.abrirModalAlterarSenha()">
						<a class="nav-link" href="#">
							<i class="icon-lock"></i>
						</a>
					</li>
					<!-- <li class="nav-item dropdown" title="Notificações">
						<a class="nav-link dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
							<i class="icon-bell"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
							aria-labelledby="notificationDropdown">
							<a class="dropdown-item py-3">
								<p class="mb-0 font-weight-medium float-left">Você não possui nenhuma notificação
								</p>
								<span class="badge badge-pill badge-inverse-info float-right">Ver Todas</span>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item preview-item">
								<div class="preview-thumbnail">
									<div class="preview-icon bg-inverse-success">
										<i class="icon-exclamation mx-0"></i>
									</div>
								</div>
								<div class="preview-item-content">
									<h6 class="preview-subject font-weight-normal text-dark mb-1">Não conformidade
										registrada</h6>
									<p class="font-weight-light small-text mb-0">
										Agora
									</p>
								</div>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item preview-item">
								<div class="preview-thumbnail">
									<div class="preview-icon bg-inverse-warning">
										<i class="icon-bubble mx-0"></i>
									</div>
								</div>
								<div class="preview-item-content">
									<h6 class="preview-subject font-weight-normal text-dark mb-1">Mensagem do Prestador
									</h6>
									<p class="font-weight-light small-text mb-0">
										Mensagem privada
									</p>
								</div>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item preview-item">
								<div class="preview-thumbnail">
									<div class="preview-icon bg-inverse-info">
										<i class="icon-user-following mx-0"></i>
									</div>
								</div>
								<div class="preview-item-content">
									<h6 class="preview-subject font-weight-normal text-dark mb-1">Novos usuários
										cadastrados
									</h6>
									<p class="font-weight-light small-text mb-0">
										Ontem
									</p>
								</div>
							</a>
						</div>
					</li>
					<li class="nav-item" title="Alterar senha">
						<a class="nav-link" href="#">
							<i class="icon-equalizer"></i>
						</a>
					</li> -->
					<li class="nav-item mr-2 ml-2" title="{{logado ? 'Sair do sistema' : 'Acessar sistema'}}">
						<a class="nav-link" href="#" ng-click="vm.logout()">
							<i ng-class="logado ? 'icon-logout' : 'icon-login'"></i>
						</a>
					</li>
					<li class="nav-item nav-profile">
						<a class="nav-link" href="#">
							<span class="nav-profile-text" ng-bind="usuario.nome"></span>
						</a>
					</li>
				</ul>
				<button class="navbar-toggler align-self-center" type="button" ng-click="vm.abrirMenuMobile()" data-toggle="minimize">
					<span class="icon-menu text-white"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="nav-bottom" ng-class="{'header-toggled': vm.isMenuMobileOpen}">
		<div class="container">

			<ul class="nav page-navigation" style="justify-content: flex-start;">

				<li class="nav-item pl-2 pr-2" ng-repeat="menu in vm.menuList" 
					ng-class="{'active': vm.menuActive == menu.link, 'mega-menu active show-submenu': (vm.submenuMobileActive == $index && vm.isMenuMobileOpen)}"
					ng-click="vm.abrirSubmenuMobile($index, menu)">
					<a href="{{menu.itemList ? '#' : menu.link}}" class="nav-link">
						<i class="link-icon" ng-class="menu.icone"></i>
						<span class="menu-title" ng-bind="menu.nome"></span>
						<i class="menu-arrow" ng-if="menu.itemList"></i>
					</a>
					<div class="submenu" ng-if="menu.itemList">
						<ul class="submenu-item">
							<li class="nav-item" ng-repeat="item in menu.itemList" ng-class="{'active': vm.menuActive == item.link}">
								<a class="nav-link" href="{{item.link}}" ng-bind="item.nome"></a>
							</li>
						</ul>
					</div>
				</li>

			</ul>

		</div>
	</div>

</nav>