<form novalidate name="formularioUnidadeEscolar" ng-submit="vm.salvarUnidadeEscolar(formularioUnidadeEscolar)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

    <div class="modal-header">
        <h5 class="modal-title">ADICIONAR UNIDADE ESCOLAR AO PRESTADOR</h5>
        <button type="button" class="close" ng-click="vm.fecharModalUnidadeEscolar()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="unidade" class="obrigatorio">Unidade de Escolar</label>
                    <ui-select ng-model="vm.modalUnidadeEscolar.model" theme="bootstrap" close-on-select="true" required>
                        <ui-select-match placeholder="Selecione uma opção"> {{ $select.selected.codigo + ' - ' + $select.selected.descricao }} </ui-select-match>
                        <ui-select-choices repeat="unidade as unidade in vm.unidadeEscolarLista">
                            <span ng-bind-html="(unidade.codigo + ' - ' + unidade.descricao) | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label for="valorMetroQuadradoFinalSemana" class="obrigatorio">Valor do m² no final de semana</label>
                    <input type="text" id="valorMetroQuadradoFinalSemana" name="valorMetroQuadradoFinalSemana" class="form-control" ng-model="vm.modalUnidadeEscolar.model.valorMetroQuadradoFinalSemana" placeholder="R$"
                        ng-class="{'is-invalid': (formularioUnidadeEscolar.valorMetroQuadradoFinalSemana.$dirty && formularioUnidadeEscolar.valorMetroQuadradoFinalSemana.$invalid)}" ui-money-mask required>
                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label for="valorMensal" class="obrigatorio">Valor mensal</label>
                    <input type="text" id="valorMensal" name="valorMensal" class="form-control" ng-model="vm.modalUnidadeEscolar.model.valor" placeholder="R$"
                        ng-class="{'is-invalid': (formularioUnidadeEscolar.valorMensal.$dirty && formularioUnidadeEscolar.valorMensal.$invalid)}" ui-money-mask required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card card-inverse-secondary">
                    <div class="card-body">
                        <p class="text-danger font-weight-light text-center m-0" ng-if="!vm.modalUnidadeEscolar.model.id">Selecione uma unidade.</p>
                        <ul class="list-arrow" ng-if="vm.modalUnidadeEscolar.model.id">
                            <li><strong>Descrição:</strong> {{vm.modalUnidadeEscolar.model.descricao}}</li>
                            <li><strong>Código:</strong> {{vm.modalUnidadeEscolar.model.codigo}}</li>
                            <li><strong>Endereço:</strong> {{vm.modalUnidadeEscolar.model.endereco}}, {{vm.modalUnidadeEscolar.model.numero}}, {{vm.modalUnidadeEscolar.model.bairro}}</li>
                            <li><strong>Telefone:</strong> {{vm.modalUnidadeEscolar.model.descricao}}</li>
                            <li><strong>E-mail:</strong> {{vm.modalUnidadeEscolar.model.descricao}}</li>
                            <li><strong>Tipo de Escola:</strong> {{vm.modalUnidadeEscolar.model.tipoEscola.descricao}}</li>
                            <li><strong>DRE:</strong> {{vm.modalUnidadeEscolar.model.diretoriaRegional.descricao}}</li>
                            <li ng-if="vm.modalUnidadeEscolar.model.flagAtivo"><strong>Situação:</strong> <div class="badge badge-success badge-pill">Ativo</div></li>
                            <li ng-if="!vm.modalUnidadeEscolar.model.flagAtivo"><strong>Situação:</strong> <div class="badge badge-danger badge-pill">Suspenso</div></li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="formularioUnidadeEscolar.$invalid">Adicionar</button>
    </div>

</form>