<form novalidate name="formulario" ng-submit="vm.salvar(formulario)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

    <div class="modal-header">
        <h5 class="modal-title" ng-if="vm.modal.isEditar">EDITAR AMBIENTE</h5>
        <h5 class="modal-title" ng-if="!vm.modal.isEditar">CADASTRAR AMBIENTE</h5>
        <button type="button" class="close" ng-click="vm.fecharModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dados gerais</h4>
                        <p class="text-muted font-weight-light">Informações gerais do ambiente.   
                        
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="descricao" class="obrigatorio">Descrição</label>
                                    <input type="text" id="descricao" name="descricao" class="form-control" ng-model="vm.modal.model.descricao" 
                                        ng-class="{'is-invalid': (formulario.descricao.$dirty && formulario.descricao.$invalid)}" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="tipo" class="obrigatorio">Tipo</label>
                                    <select class="form-control" id="tipo" name="tipo" ng-model="vm.modal.model.idTipoAmbiente" 
                                        ng-options="tipo.id as tipo.descricao for tipo in vm.tipoAmbienteList"
                                        ng-class="{'is-invalid': (formulario.tipo.$dirty && formulario.tipo.$invalid)}" required>
                                        <option value="" disabled>Selecione</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="formulario.$invalid">Salvar</button>
    </div>

</form>