<form novalidate name="formulario" ng-submit="vm.salvar(formulario)" autocomplete="off" autocorrect="off">

    <div class="modal-header">
        <h5 class="modal-title" ng-if="vm.modal.isEditar">EDITAR PLANO DE TRABALHO</h5>
        <h5 class="modal-title" ng-if="!vm.modal.isEditar">CADASTRAR PLANO DE TRABALHO</h5>
        <button type="button" class="close" ng-click="vm.fecharModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dados gerais</h4>
                        <p class="text-muted font-weight-light">Informações do ambiente e periodicidade de monitoramento.   
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="ambiente" class="obrigatorio">Ambiente</label>
                                    <select class="form-control" id="ambiente" name="ambiente" ng-model="vm.modal.model.idAmbienteGeral" 
                                        ng-options="ambiente.id as ambiente.descricao for ambiente in vm.ambienteGeralList"
                                        ng-class="{'is-invalid': (formulario.ambiente.$dirty && formulario.ambiente.$invalid)}" required>
                                        <option value="" disabled>Selecione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="periodicidade" class="obrigatorio">Periodicidade</label>
                                    <select class="form-control" id="periodicidade" name="periodicidade" ng-model="vm.modal.model.idPeriodicidade" 
                                        ng-options="periodicidade.id as periodicidade.descricao for periodicidade in vm.periodicidadeList"
                                        ng-class="{'is-invalid': (formulario.periodicidade.$dirty && formulario.periodicidade.$invalid)}" required>
                                        <option value="" disabled>Selecione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group" ng-if="vm.modal.isEditar">
                                    <label for="turno" class="obrigatorio">Turno</label>
                                    <select class="form-control" id="turno" name="turno" ng-model="vm.modal.model.idTurno" 
                                        ng-options="turno.id as turno.descricao for turno in vm.turnoList"
                                        ng-class="{'is-invalid': (formulario.turno.$dirty && formulario.turno.$invalid)}" required>
                                        <option value="" disabled>Selecione</option>
                                    </select>
                                </div>
                                <div class="form-group" ng-if="!vm.modal.isEditar">
                                    <label for="turnoList" class="obrigatorio">Turnos</label>
                                    <ui-select name="turnoList" ng-model="vm.modal.model.turnoList" class="form-control" multiple required>
                                        <ui-select-match>
                                            {{$item.descricao}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="turno in vm.turnoList | filter: {descricao: $select.search}">
                                            <span ng-bind-html="turno.descricao | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Atividades</h4>
                        <p class="text-muted font-weight-light">Descrição das atividades deste plano de trabalho.   
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <summernote config="vm.optionsSummernote" ng-model="vm.modal.model.descricao"></summernote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="formulario.$invalid">Salvar</button>
    </div>

</form>