<div class="card">
	<div class="card-body p-0">

		<h4 class="card-title pl-4 pt-4">DETALHES DO MONITORAMENTO</h4>

		<hr>

		<div class="row">
			<div class="col-12">
				<div id="mapa" style="width: 100%; height: 360px;"></div>
			</div>
		</div>

		<div class="row mt-4 pl-4 pr-4 pb-0">
			<div class="col-lg-4 col-md-6 col-sm-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<p class="mb-1">
								<span class="h4 mb-0 mr-2" ng-bind="vm.monitoramento.data | date:'dd/MM/yyyy'"></span>
							</p>
							<p class="mb-0 text-muted font-weight-light">Data do Monitoramento</p>
						</div>
						<div>
							<span class="badge badge-success mt-3">Periodicidade: {{vm.monitoramento.periodicidade.descricao}}</span>
							<span class="badge badge-success mt-3">Turno: {{vm.monitoramento.turno.descricao}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<p class="mb-1">
								<span class="h4 mb-0 mr-2" ng-bind="(vm.monitoramento.dataHoraInicio | date:'HH:mm:ss') || '-'"></span>
							</p>
							<p class="mb-0 text-muted font-weight-light">Início das Atividades</p>
						</div>
						<div>
							<span class="badge badge-success mt-3">Lat: {{vm.monitoramento.latitudeInicio}}</span>
							<span class="badge badge-success mt-3">Lon: {{vm.monitoramento.longitudeInicio}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<p class="mb-1">
								<span class="h4 mb-0 mr-2" ng-bind="(vm.monitoramento.dataHoraTermino | date:'HH:mm:ss') || '-'"></span>
							</p>
							<p class="mb-0 text-muted font-weight-light">Término das Atividades</p>
						</div>
						<div>
							<span class="badge badge-success mt-3">Lat: {{vm.monitoramento.latitudeTermino}}</span>
							<span class="badge badge-success mt-3">Lon: {{vm.monitoramento.longitudeTermino}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-margin stretch-card" 
				ng-class="usuario.usuarioOrigem.codigo != 'ps' && usuario.usuarioOrigem.codigo != 'ue' ? 'col-lg-4 col-md-6 col-sm-12' : 'col-lg-6 col-md-6 col-sm-12'">
				<div class="card">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<p class="mb-1">
								<span class="h4 mb-0 mr-2" ng-bind="vm.monitoramento.ambiente.descricao"></span>
							</p>
							<p class="mb-0 text-muted font-weight-light">Ambiente da Unidade Escolar</p>
						</div>
						<div class="d-inline-flex">
							<span class="badge badge-success mt-3 mr-2">Tipo: {{vm.monitoramento.ambiente.tipo}}</span><br>
							<span class="badge badge-success mt-3">Área: {{vm.monitoramento.ambiente.area}}m²</span><br>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-margin stretch-card" 
				ng-class="usuario.usuarioOrigem.codigo != 'ps' ? 'col-lg-4 col-md-6 col-sm-12' : 'col-lg-6 col-md-6 col-sm-12'"
				ng-if="usuario.usuarioOrigem.codigo != 'ue'">
				<div class="card">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<p class="mb-1">
								<span class="h4 mb-0 mr-2"ng-bind="vm.monitoramento.unidadeEscolar.descricao"></span>
							</p>
							<p class="mb-0 text-muted font-weight-light">Unidade Escolar</p>
						</div>
						<div>
							<span class="badge badge-success mt-3">Tipo: {{vm.monitoramento.unidadeEscolar.tipo}}</span><br>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-margin stretch-card"
				ng-class="usuario.usuarioOrigem.codigo != 'ue' ? 'col-lg-4 col-md-6 col-sm-12' : 'col-lg-6 col-md-6 col-sm-12'"
				ng-if="usuario.usuarioOrigem.codigo != 'ps'">
				<div class="card">
					<div class="card-body d-flex flex-column justify-content-between">
						<div>
							<p class="mb-1">
								<span class="h4 mb-0 mr-2" ng-bind="vm.monitoramento.prestadorServico.razaoSocial"></span>
							</p>
							<p class="mb-0 text-muted font-weight-light">Prestador de Serviço</p>
						</div>
						<div class="d-inline-flex">
							<span class="badge badge-success mt-3 mr-2">CNPJ: {{vm.monitoramento.prestadorServico.cnpj | brCnpj}}</span><br>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row pl-4 pt-4 pr-4 pb-0">
			<div class="col-12">
				<div class="alert alert-danger text-center" ng-if="vm.monitoramento.idOcorrencia">
					<br><i class="icon-md icon-close text-bold"></i>
					<p class="mt-3 text-bold">Atenção, existe ocorrência cadastrada para este monitoramento! <a href="ocorrencia/detalhe/{{vm.monitoramento.idOcorrencia}}" target="_blank">Clique aqui para acompanhar.</a></p>
				</div>
				<div class="alert alert-success text-center" ng-if="!vm.monitoramento.flagPodeFiscalizar && !vm.monitoramento.idOcorrencia">
					<br><i class="icon-md icon-check text-bold"></i>
					<p class="mt-3 text-bold">Nenhuma ocorrência associada a este monitoramento.</p>
				</div>
				<button type="button" class="btn btn-outline-danger btn-fw btn-lg btn-block text-bold mb-4" ng-if="vm.monitoramento.flagPodeFiscalizar && !vm.monitoramento.idOcorrencia" ng-click="vm.adicionarOcorrencia()">
					<i class="icon-md icon-shield pb-2"></i><br><br>Adicionar Ocorrência
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-12 mb-5">
				<uib-accordion class="accordion accordion-solid-header accordion-custom">
					<div uib-accordion-group is-open="vm.isFilterOpen">
						<uib-accordion-heading>Atividades</uib-accordion-heading>
							<summernote config="vm.optionsSummernote" ng-model="vm.monitoramento.atividades" contenteditable="false"></summernote>
						</div>
					</div>
				</uib-accordion>
			</div>
		</div>

	</div>
</div>