<div class="row mt-4">
	<div class="col-12">
		<div class="card">
			<div class="card-body p-0">
                <h4 class="card-title mx-4 mt-4">Prestadores com Reincidência de Ocorrências</h4>
                <p class="text-muted font-weight-light mx-4 mb-4">Relação de prestadores de serviço com reincidência de ocorrência nos últimos três meses.</p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pl-4">Prestador de Serviço</th>
                                <th class="">Dados da Ocorrência</th>
                                <th class="pr-4 text-right">Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.prestadorComReincidenciaList">
                                <td class="py-4 pl-4">
                                    <h5 class="font-weight-light" ng-bind="item.prestadorServico.razaoSocial"></h5>
							        <small>CNPJ: {{item.prestadorServico.cnpj | brCnpj}}</small>
                                </td>
                                <td class="">
                                    <h5 class="font-weight-light" ng-bind="item.ocorrencia"></h5>
							        <small>Variável Gerencial: {{item.tipo}}</small>
                                </td>
                                <td class="pr-4 text-right">
                                    <div class="badge badge-pill badge-primary">{{item.total}}</div>
                                </td>
                            </tr>
                            <tr ng-if="vm.prestadorComReincidenciaList.length == 0">
                                <td colspan="3" class="text-center py-4 text-primary">
                                    <h5>Nenhuma informação encontrada.</h5>
                                    <small class="text-white">...</small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
	</div>
</div>