<div class="card">
    <div class="card-body p-0">

        <h4 class="card-title m-4">MONITORAMENTOS
            <div class="text-right">
                <button type="button" ng-if="usuario.usuarioOrigem.codigo == 'dre' || usuario.usuarioOrigem.codigo == 'ue'" class="btn btn-success btn-sm" ng-click="vm.abrirModalAgendamento()">
                    Agendamento Manual
                    <i class="icon-plus ml-1"></i>
                </button>
            </div>
        </h4>

        <uib-accordion class="accordion accordion-solid-header accordion-custom">
            <div uib-accordion-group is-open="vm.isFilterOpen">
                <uib-accordion-heading>
                    Filtros de busca
                </uib-accordion-heading>
                <form novalidate autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="form-control">
                                <label for="data" class="dois-pontos">Data</label>
                                <input type="text" class="form-control lh-18" id="data" ng-model="vm.filtros.data"
                                    uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.optionsDatePickerFiltro" is-open="focus1" ng-focus="focus1=true">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" ng-if="usuario.usuarioOrigem.codigo != 'ue'">
                            <div class="form-control">
                                <label for="ue" class="dois-pontos">Unidade Escolar</label>
                                <select class="form-control" id="ue" ng-model="vm.filtros.idUnidadeEscolar" ng-options="ue.id as ue.descricao for ue in vm.unidadeEscolarList">
                                    <option value="" selected>Todos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <button type="button" class="btn btn-primary" ng-click="vm.recarregarTabela()">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </uib-accordion>

        <hr>

        <div class="row">
            <div class="col-12">
                <lista></lista>
            </div>
        </div>

    </div>
</div>