<div class="row" ng-if="usuario.usuarioOrigem.codigo != 'sme'">
	<div class="col">
		<div class="card text-center">
			<div class="card-body p-5">
				<h4 class="card-text mt-3">Bem-vindo!</h4>
				<img src="src/layout/img/logo-sme/logo-preto-vertical.png" class="img-fluid" style="max-height: 15rem;">
			</div>
		  </div>
	</div>
</div>

<ng-include 
	ng-if="usuario.usuarioOrigem.codigo == 'sme'" 
	src="'src/dashboard/sections/contratos-a-vencer.html'">
</ng-include>

<ng-include 
	ng-if="usuario.usuarioOrigem.codigo == 'sme'" 
	src="'src/dashboard/sections/prestadores-com-reincidencia.html'">
</ng-include>