<div class="modal-header">
    <h5 class="modal-title">ALTERAR SENHA</h5>
</div>

<form novalidate name="formulario" ng-submit="vm.salvar(formulario)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

    <div class="modal-body">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="senhaAtual" class="obrigatorio">Senha Atual</label>
                    <input type="text" id="senhaAtual" name="senhaAtual" class="form-control" ng-model="vm.model.senhaAtual" 
                        ng-class="{'is-invalid': (formulario.senhaAtual.$dirty && formulario.senhaAtual.$invalid)}" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="novaSenha" class="obrigatorio">Nova Senha</label>
                    <input type="text" id="novaSenha" name="novaSenha" class="form-control" ng-model="vm.model.novaSenha" 
                    ng-class="{'is-invalid': (formulario.novaSenha.$dirty && formulario.novaSenha.$invalid)}" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="confirmacaoNovaSenha" class="obrigatorio">Confirmação da Senha</label>
                    <input type="text" id="confirmacaoNovaSenha" name="confirmacaoNovaSenha" class="form-control" ng-model="vm.model.confirmacaoNovaSenha"
                        ng-class="{'is-invalid': (formulario.confirmacaoNovaSenha.$dirty && formulario.confirmacaoNovaSenha.$invalid)}" required>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.fecharModal()">Cancelar</button>
        <button type="submit" class="btn btn-success" ng-disabled="formulario.$invalid">Salvar</button>
    </div>

</form>