<div class="row d-flex align-items-stretch">
    <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
        <div class="slide-content bg-1">
        </div>
    </div>
    <div class="col-12 col-md-8 h-100 bg-white">
        <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">

            <div class="nav-get-started">
                <img src="src/layout/img/logo-sme/logo-preto-vertical.png" class="img-fluid">
            </div>

            <form novalidate ng-submit="vm.salvar(formulario)" name="formulario" autocomplete="off" autocorrect="off" autocapitalize="off">

                <ng-include ng-if="!vm.tokenRecuperacao" src="'src/core/auth/recuperacao-senha/sections/nova-solicitacao.html'"></ng-include>
                <ng-include ng-if="vm.tokenRecuperacao" src="'src/core/auth/recuperacao-senha/sections/formulario-senha.html'"></ng-include>

            </form>
            
        </div>
    </div>
</div>