<form novalidate name="formulario" ng-submit="vm.salvar(formulario)" autocomplete="off" autocorrect="off">

    <div class="modal-header">
        <h5 class="modal-title">AGENDAMENTO MANUAL</h5>
        <button type="button" class="close" ng-click="vm.fecharModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-12">
                <div class="alert alert-primary" role="alert">
                    Em caso de eventos extraordinários, você pode agendar monitoramentos personalizados.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dados gerais</h4>
                        <p class="text-muted font-weight-light">Informações do ambiente da unidade escolar e turno de realização do monitoramento.</p>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="data" class="dois-pontos">Data do monitoramento</label>
                                    <input type="text" class="form-control" id="data" ng-model="vm.model.data" uib-datepicker-popup="dd/MM/yyyy" 
                                        datepicker-options="vm.optionsDatePicker" is-open="focus1" ng-focus="focus1=true" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="turno" class="obrigatorio">Turno</label>
                                    <select class="form-control" id="turno" name="turno" ng-model="vm.model.idTurno" 
                                        ng-options="turno.id as turno.descricao for turno in vm.turnoList"
                                        ng-class="{'is-invalid': (formulario.turno.$dirty && formulario.turno.$invalid)}" required>
                                        <option value="" disabled>Selecione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12" ng-if="usuario.usuarioOrigem.codigo != 'ue'">
                                <div class="form-group">
                                    <label for="ue" class="dois-pontos">Unidade Escolar</label>
                                    <select class="form-control" id="ue" ng-model="vm.model.idUnidadeEscolar" ng-change="vm.evtChangeUnidadeEscolar()" ng-options="ue.id as ue.descricao for ue in vm.unidadeEscolarList">
                                        <option value="" disabled>Selecione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="ambiente-ue" class="dois-pontos">Ambiente da Unidade Escolar</label>
                                    <select class="form-control" id="ambiente-ue" ng-model="vm.model.idAmbienteUnidadeEscolar" ng-options="aue.id as aue.descricao for aue in vm.ambienteUnidadeEscolarList"
                                        ng-disabled="usuario.usuarioOrigem.codigo == 'dre' && !vm.model.idUnidadeEscolar" required>
                                        <option value="" disabled>Selecione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Atividades</h4>
                        <p class="text-muted font-weight-light">Descrição das atividades deste plano de trabalho.   
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <summernote config="vm.optionsSummernote" ng-model="vm.model.descricao" required></summernote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="!vm.verificarFormulario(formulario)">Agendar Monitoramento</button>
    </div>

</form>